$fontFamily: "Microsoft Yahei", "Helvetica Neue", helvetica, Arial, sans-serif;

$red: red;

$blue: #5badf0;
$blue-deep: #5694f1;

// text size
$t-s: 12px;
$t-m: 14px;
$t-l: 16px;
$t-xl: 18px;
$t-xxl: 20px;
$t-xxxl: 30px;

// color gray
$white: #fff;
$gray-base: #808080;
$gray-dark: #a6a6a6;
$gray: #d9d9d9;
$gray-light: #eee;
$gray-lighter: #f7f7f7;
$blank: #383838;
$brand-primary: #428bca;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
